<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monster Slayer</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h4 class="textcenter">{{ text }}</h4>
        <section class="row">
            <div class="column">
                <h2 class="textcenter">Player</h2>
                <div class="healthbar">
                    <div class="healthbar textcenter" 
                         style="background-color: green; margin: 0; color: white;"
                         :style="{width: playerHealth + '%'}">
                         {{ playerHealth }}
                    </div>
                </div>
            </div>
            <div class="column">
                <h2 class="textcenter">Monster</h2>
                <div class="healthbar">
                    <div class="healthbar textcenter" 
                         style="background-color: green; margin: 0; color: white;"
                         :style="{width: monsterHealth + '%'}">
                        {{ monsterHealth }}
                    </div>
                </div>
            </div>
        </section>
        <section class="row controls" v-if="!gameIsRunning">
            <div class="small-12 column">
                <button id="start-game" @click="startGame()">START NEW GAME</button>
            </div>
        </section>
        <section class="row controls" v-else>
            <div class="small-12 column">
                <button id="attack" @click="attack()">ATTACK</button>
                <button id="special-attack" @click="specialAttack()">SPECIAL ATTACK({{splAtkCount}})</button>
                <button id="heal" @click="heal()">HEAL</button>
                <button id="give-up" @click="giveUp()">GIVE UP</button>
            </div>
        </section>
        <section class="row log" v-if="turns.length > 0">
            <div class="small-12 columns">
                <ul>
                    <li v-for="turn in turns" 
                    :class="{'player-turn': turn.isPlayer, 'monster-turn': !turn.isPlayer}">
                        {{ turn.text }}
                    </li>
                </ul>
            </div>
        </section>
    </div>
</body>
<script src="main.js"></script>
</html>